@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("2010 Harvard students","Students","College",new {year=2010,campus="Harvard"},null)

( @Url.Action("Students","College",new {year=2010,campus="Harvard"}) )

<br />
@Html.ActionLink("2010 Oxford students","Students","College",new {year=2010,campus="Oxford"},null)
(@Url.Action("Students","College",new {year=2010,campus="Oxford"}) )


<br />
@Html.ActionLink("1899 MIT students","Students","College",new {year=1899,campus="MIT"},null)
(@Url.Action("Students","College",new {year=1899,campus="MIT"}) )