@model ExamPrep.Models.Blog

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create"))
{
    @Html.LabelFor(m=>m.Title)
@Html.TextBoxFor(m=>m.Title)
    <br />
    @Html.LabelFor(m=>m.CreatedBy)
@Html.TextBoxFor(m=>m.CreatedBy)
    <br />
    @Html.LabelFor(m=>m.Metadata.Language)
@Html.TextBoxFor(m=>m.Metadata.Language)
    <br />
    <input type="submit" value="Submit" />    
}
