@inherits System.Web.Mvc.WebViewPage<ProfessionalMVCTest.Models.DB.UserInfo>
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using System.Web.Routing


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using(Html.BeginForm())
{
<text>ID:</text>@Html.TextBox("Id")
    @Html.ValidationMessage("Id")
<br />
<text>First Name:</text>@Html.TextBox("user.FirstName")
    @Html.ValidationMessage("user.FirstName")
<br />
<text>Last Name:</text>@Html.TextBox("user.LastName")
    @Html.ValidationMessage("user.LastName")
<br />
    <input type="submit" />
}